<ngx-material-drawer
    (onMatDrawerInit)="onMatDrawerInit($event)"
    (onMatDrawerAfterViewInit)="onMatDrawerAfterViewInit($event)"
    (onNavStateChange)="onNavStateChange($event)"
    (onDataChange)="onDataChange($event)"
    (onGridDataChange)="onGridDataChange($event)"
    (onSideNavOpen)="onSideNavOpen($event)"
    (onSideNavClosed)="onSideNavClosed($event)"
    (onMinVarientChange)="onMinVarientChange($event)"
    (onSideNavItemClick)="onSideNavItemClick($event)"
    (onSideNavItemExpanded)="onSideNavItemExpanded($event)"
    (onSideNavItemCollapsed)="onSideNavItemCollapsed($event)"
    (onMenuItemClick)="onMenuItemClick($event)"
    (onSerachValueChange)="onSerachValueChange($event)"
    (onSerachFocusIn)="onSerachFocusIn($event)"
    (onSerachFocusOut)="onSerachFocusOut($event)"
    (onFabExpanded)="onFabExpanded($event)"
    (onFabCollapsed)="onFabCollapsed($event)"
    (onMainFabButtonClick)="onMainFabButtonClick($event)"
    (onFabButtonClick)="onFabButtonClick($event)"
    (onSerachInputOpen)="onSerachInputOpen($event)"
    (onSerachInputClosed)="onSerachInputClosed($event)"
    [data]="jsonData"
>
    <app-grid></app-grid>
</ngx-material-drawer>
