@import "~jsoneditor/dist/jsoneditor.min.css";
@import "../projects/ngx-material-drawer/src/lib/app/scss/styles.scss";

/**********************Theme**********************/
@import  '~@angular/material/theming';
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-green);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
/**********************break Points**********************/
$handset: 360px;
$large-handset: 480px;
$tablet: 640px;
$large-tablet: 840px;
$desktop: 960px;
$large-desktop: 1280px;
$x-large-desktop: 1440px;
$xx-large-desktop: 1920px;
@mixin  breakpoint($point) {
@media (min-width: $point) { @content ; }
}
@mixin  breakpoint-max($point) {
@media (max-width: $point) { @content ; }
}
@mixin  height-breakpoint($point) {
@media (min-height: $point) { @content ; }
}
@mixin  height-breakpoint-max($point) {
@media (min-height: $point) { @content ; }
}
/**********************Main CSS**********************/
@include  mat-core();
@include  angular-material-theme($app-theme);
body {
margin: 0;
height: 100vh;
font-family: Roboto, Arial, sans-serif;
font-size: 16px;
color: #292a1d;
}
a {
text-decoration-color: mat-color($app-primary);
color: mat-color($app-primary);
}
@import  url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');